<h2 id='title'>Hello, I'm a didiCAT peer</h2>

<p>This is a didiCAT peer, it resides in a network of friends.  All the friends work together to offer you a unified view on a set of underlying servers.</p>

{{outlet}}
