<h2 id='title'>Hello, I am one of didiCAT's friends.</h2>

<p>I am a didiCat friend, I reside in the network of friends.  All the friends work together to offer you a unified view on a set of underlying servers.</p>
